<h2>Sign Up</h2>
<%= form_for(@account) do |account| %>
  <p>
  <%= account.label :name %><br/>
  <%= account.text_field :name %>
  <%= account.label :subdomain %><br/>
  <%= account.text_field :subdomain %>
  <%= account.fields_for :owner do |owner| %>
    <p>
      <%= owner.label :email %><br/>
      <%= owner.text_field :email %>
    </p>
    <p>
      <%= owner.label :password %><br>
      <%= owner.text_field :password %>
    </p>
    <p>
      <%= owner.label :password_confirmation %><br>
      <%= owner.text_field :password_confirmation %>
    </p>
  <% end %>
  </p>
  <%= account.submit %>
<% end %>
